### This is a Practice project - Extracting stock data using a web scraping

In [2]:
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib
!pip install lxml
!pip install plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in f:\abid\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in f:\abid\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\abid\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\abid\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in f:\abid\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in f:\abid\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in f:\abid\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in f:\abid\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in f:\abid\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in f:\abid\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in f:\abid\anaconda3\lib\site-packages (from requests) (2024.8.30)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\abid\appdata\roaming\python\python312\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in f:\abid\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in f:\abid\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\abid\appdata\roaming\python\python312\site-packages (1.1)
Requirement already satisfied: six>=1.9 in f:\abid\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in f:\abid\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in f:\abid\anaconda3\lib\site-packages (5.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in f:\abid\anaconda3\lib\site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in f:\abid\anaconda3\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in f:\abid\anaconda3\lib\site-packages (from plotly) (24.1)

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
#Ignore all warnings

import warnings
warnings.filterwarnings("ignore", category = FutureWarning)

In [5]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [6]:
#request.get() method takes url as its first argument, which specifies the location of the resource to be retrieved.
data = requests.get(url).text

In [7]:
soup = BeautifulSoup(data, 'html.parser')

In [8]:
netflix_data = pd.DataFrame(columns=["Date","Open","High","Low","Close","Volume"])

In [9]:
#First we isolate the body of the table which contains all the information
#Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    #Finally we append the data of each row to the table
    netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [10]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [11]:
#extractinf data using pandas library
read_html_pandas_data = pd.read_html(url)

In [12]:
#we can convert the beautifulsoup object to a string
read_html_pandas_data = pd.read_html(str(soup))

In [13]:
netflix_dataframe = read_html_pandas_data[0]
netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

### Excersie - Extracking data from the web page Amazon data

In [14]:
url1 = " https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"

In [15]:
html_data = requests.get(url1).text

In [16]:
soup = BeautifulSoup(html_data, 'html.parser')

In [17]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [18]:
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    amazon_data = pd.concat([amazon_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [19]:
amazon_data.head()

           Date      Open      High       Low     Close       Volume Adj Close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200  3,256.93
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100  3,036.15
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300  3,148.73

In [20]:
x = 3208.00
y = 3489.58
print ((x+y)/2)

3348.79

In [21]:
print(amazon_data.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [22]:
amazon_data.iloc[-1]["Open"]

'656.29'

In [23]:
print(amazon_data)

            Date      Open      High       Low     Close       Volume  \
0   Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900
1   Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200
2   Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500
3   Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100
4   Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300
..           ...       ...       ...       ...       ...          ...
56  May 01, 2016    663.92    724.23    656.00    722.79   90,614,500
57  Apr 01, 2016    590.49    669.98    585.25    659.59   78,464,200
58  Mar 01, 2016    556.29    603.24    538.58    593.64   94,009,500
59  Feb 01, 2016    578.15    581.80    474.00    552.52  124,144,800
60  Jan 01, 2016    656.29    657.72    547.18    587.00  130,200,900

   Adj Close
0   3,206.20
1   3,256.93
2   3,168.04
3   3,036.15
4   3,148.73
..       ...
56    722.79
57    659.59
58    593.64
59    552.52
60    587.00

[61 rows x 7 columns]